{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" 
        style="background-image: url({{image}}){{else}}no-cover{{/if}}">

{{!--     <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav> --}}
</header>


<div class="{{post_class}} hidden image-gradient-dynamic">
  <img src="{{image}}" alt="">
  <div class="overlay"></div>
  <div class="copy">
    <h1 class="post-title">{{title}}</h1>
    <p class="post-meta date">
      <time 
      datetime="{{date format='YYYY-MM-DD'}}">
      {{date format="DD MMMM YYYY"}}</time>
    </p>
  </div>
</div>



<main class="content" role="main">

    <article class="type-system-serif">


      <header>
        <p class="type">{{post_class}}</p>
        <h1 class="post-title">{{title}}</h1>

        <p class="post-meta date">
            <time 
            datetime="{{date format='YYYY-MM-DD'}}">
            {{date format="DD MMMM YYYY"}}</time> 
            {{tags prefix=" on "}}
        </p>

{{!--         <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix=" on "}}
        </section> --}}

      </header>



      {{#author}}
        <p> <a class="author" href="{{url}}">{{name}}</a></p>
      {{/author}}

      {{!-- Image --}}
      {{#if image}}
      <div class="non-repeat-image">
        <img class="{{post_class}}" src="{{image}}" alt="img">
      </div>
      {{/if}}

{{!--       <h2>{{excerpt words="26"}}</h2>
      <p class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</p>
 --}}
      <section class="post-content">
          {{content}}
      </section>
      <hr>



      <footer class="post-footer">

      {{! Everything inside the #author tags pulls data from the author }}
      {{#author}}
          <p> <a class="author" href="{{url}}">{{name}}</a></p>
          
          {{#if image}}

{{!--             <a href="{{url}}"><img src="{{image}}" alt="{{name}}'s Picture"></a> --}}

          <figure class="author-image">
              <a class="img" href="{{url}}" style="background-image: url({{image}})">
                <span class="hidden">{{name}}'s Picture</span>
              </a>
          </figure>
          {{/if}}

          <section class="author">

              <h4><a href="{{url}}">{{name}}</a></h4>

              {{#if bio}}
                  <p>{{bio}}</p>
              {{else}}
                  <p>Read <a href="{{url}}">more posts</a> by this author.</p>
              {{/if}}
              <div class="author-meta">
                  {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                  {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
              </div>
          </section>

      {{/author}}

          {{> social}}

        <ul class="related-posts">
        </ul>

      </footer>

    </article>


    <article class="{{post_class}}">






    </article>



</main>

<aside class="cards read-next">
    {{#next_post}}
      <a class="card" href="{{url}}">
        <div class="card-image">
          <img src="{{image}}" alt="">
        </div>
        <div class="card-header">
          {{title}}
        </div>
        <div class="card-copy">
          <p>{{excerpt words="19"}}&hellip;</p>
        </div>
      </a>
    {{/next_post}}
    {{#prev_post}}

      <a class="card" href="{{url}}">
        <div class="card-image">
          <img src="{{image}}" alt="">
        </div>
        <div class="card-header">
          {{title}}
        </div>
        <div class="card-copy">
          <p>{{excerpt words="19"}}&hellip;</p>
        </div>
      </a>
      
    {{/prev_post}}

</aside>



{{/post}}
